@import "../../global.less";
.meet-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .meet-container {
    min-width: 75rem;
    width: 75rem;
    min-height: 50rem;
    height: 50rem;
    background: rgba(31, 41, 55, 0.5);
    border: 0.06rem solid rgba(55, 65, 81, 0.5);
    border-radius: @b-radius;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .meet-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      .meet-content-navbar {
        background-color: #17202e;
        height: 5rem;
        border: 0.06rem solid rgba(55, 65, 81, 0.5);
      }
      .meet-content-live {
        flex: 1;
        background-color: #101826;
        // padding: 2rem;
        border: 0.06rem solid rgba(55, 65, 81, 0.5);
        position: relative;
        .meet-content-live-item {
          // width: 15rem;
          // height: 11rem;
          position: absolute; /* 让子元素相对于父元素定位 */
          top: 0;             /* 距离父元素顶部为 0 */
          left: 0;            /* 距离父元素左边为 0 */
          right: 0;           /* 距离父元素右边为 0 */
          bottom: 0;          /* 距离父元素底部为 0 */
          // padding: 0 !important;
        }
        .meet-content-live-self {
          width: 15rem;
          height: 11rem;
          position:absolute;
          bottom: 0;
          right: 0;
          z-index: 999;
          // padding: 0 !important;
        }
      }
    }
    .meet-user-list {
      width: 18rem;
      background-color: #17202e;
      border: 0.06rem solid rgba(55, 65, 81, 0.5);
      display: flex;
      flex-direction: column;
    }
  }
}
