/* 定义全局阴影变量 */
@shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
@shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.2);
@shadow-large: 0 6px 12px rgba(0, 0, 0, 0.3);


/* 调整根字体大小以适应不同屏幕尺寸 */
@media (max-width: 1200px) {
  html {
    font-size: 14px; /* 调整为14px */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px; /* 调整为12px */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px; /* 调整为10px */
  }
}